body{
    background-color: beige;
}


#fondo{
    margin: 20px;
}


#num1{
    background-color: aqua;
}


#num2{
    background-color: aquamarine;
}

#datos{
    font-size: 30px;
}